.product-manage {
  padding: 30px 20px 20px;

  &__title {
    margin-bottom: 60px;
    font-size: 39px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
  }

  &__thead {
    color: #878787;
    tr {
      background-color: rgb(249, 250, 252);
    }
    th {
      font-size: 14px;
      line-height: 1.5rem;
      border-bottom: 1px solid rgb(224, 224, 224);
      text-align: left;
      color: rgba(0, 0, 0, 0.87);
      font-weight: 600;
      padding: 20px;
    }
  }

  &__tbody {
    &__row {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
  }
  &__cell {
    padding: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background: #fff;

    &:first-child {
      padding-left: 30px;
      width: 110px;
    }
    &:nth-child(9) {
      width: 60px;
      padding-right: 0;
    }
    &:last-child {
      width: 60px;
      padding-right: 30px;
    }
  }
  &__name-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
  }
  &__price-text {
    color: red;
  }
  &__image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 5px;
  }
  &__price {
    color: rgb(58, 193, 123);
  }

  &__button {
    padding: 5px 0;
    width: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &--edit {
      background-color: #000;
      color: #fff;
    }

    &--delete {
      background-color: #000;
      color: #fff;
    }

    &:hover {
      opacity: 0.8;
    }
  }
  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__select {
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    option {
      background-color: transparent !important;
    }
  }
}

.loader {
  color: #000000;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
